[submodule "lvgl"]
	path = third_party/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "ArduinoJson"]
	path = third_party/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "third_party/cpp-httplib"]
	path = third_party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "third_party/MultiButton"]
	path = third_party/MultiButton
	url = https://github.com/0x1abin/MultiButton.git
